@import "../../../index.scss";

.input-text {
}
.input-text-group {
  display: flex;
  flex-direction: row;
}
.error-text {
  font-size:12px;
  color: #FF784E;
}
.input-description {
  @extend .text-styles-body3;
}
